* {
     -webkit-print-color-adjust: exact;
     print-color-adjust: exact;
}
 @page {
     size: A4;
     margin: 0;
}
 body{
     font-family: sans-serif;
     font-style: normal;
}

 .header {
     position: relative;
     width: 100%;
     display: inline-block;
}
.printpage{
   width: 210mm;
   margin: 5mm auto;
   padding-top:10mm;
}
 .printLogo {
     width: 50mm;
     float: left;
}
 img {
     max-width: 100%!important;
}
 .headerDetail {
     margin-bottom: 0;
     background: #f4f3f3 !important;
     color: #777 !important;
     display: inline-block;
     width: 100%;
     padding: 10px 0;
     border-radius: 5px;
     margin-top: 10px;
}
 .dateDiv{
     float: right;
     text-align: right;
     width: 20%;
     padding: 12px 0px;
}
 .dateDiv span{
     font-weight:bold;
}
 .HeaderTitle {
     position: relative;
     top: 2px;
     text-align: center;
     font-size: 2em;
     border-top: 2px solid #9c9999;
     border-bottom: 2px solid #9c9999;
     word-spacing: 10px;
     letter-spacing: 5px;
}
 .HeaderTitle span {
     position: relative;
}
 .reportcontent {
     display: inline-block;
     width: 100%;
}
 .DocPatientDetail {
     padding: 0 10px;
}
 .detailContainer {
     display: inline-block;
     width: 100%;
     font-size: 14px;
}
 .detailContainer .labelText {
     width: 20%;
     display: inline-block;
     font-weight: bold;
}
 .labelData {
     text-transform: capitalize;
}
 .userDetailicon{
     width: 15%;
     float: right;
     text-align: right;
}
 .healthScoreImg {
     width: 20%;
     background: rgb(255, 255, 255);
     border-radius: 100%;
     position: relative;
     top: 3px;
}
 .dataRow {
     padding: 5px;
}
 .dataHead .column1 {
     width: 15%;
}
 .dataHead .column2 {
     width: 18%;
}
 .dataRow p{
     margin: 0;
}
 .column3 {
     text-align: center;
     width: 51%;
}
 .dataCell {
     display: inline-block;
     margin-left: -3px;
}
 .dataTableContainer {
     position: relative;
     width: 100%;
     margin-top: 20px;
     page-break-inside: avoid !important;
}
 .tableHead {
     display: inline-block;
     padding: 5px;
     padding-right: 70px;
     border:1px solid #cccccc;
     position: relative;
     bottom: -1px;
     border-radius: 0px 30px 0 0px;
     color: #24a2db;
     font-weight: bold;
     text-transform: uppercase;
     font-size: 14px;
}
 .tableDiv {
     display: inline-block;
     width: 100%;
     border: 1px solid #cccccc;
     border-radius: 0px 10px 10px 10px;
     padding: 3px;
}
 .tableDiv .dataRow:first-child {
     border-radius: 0px 7px 0px 0px !important;
}
 .tableDiv .dataRow:nth-child(odd) {
     background: #f4f3f3;
}
 .dataRow {
     padding: 5px;
     font-size: 14px;
}
 .dataTableContainer .column1 {
     width: 15%;
     position: relative;
     bottom: 15px;
}
 .dataTableContainer .column2 {
     width: 18%;
     position: relative;
     bottom: 15px;
}
 .bmiRangeBox .rangeBox {
     width: 25%;
}
 .rangeBox {
     text-align: center;
     float: left;
}
 .rangeColor.red {
     background: #FF5722;
     color: #fff;
}
 .rangeColor {
     color: #fff;
     font-size: 12px;
     padding: 5px 0;
     border-left: 1px;
}
 .rangeColor.green {
     background: #7aad3e;
}
 .rangeColor.orange {
     background: #f79504;
}
 .rangeColor.brown {
     background: #a75e48;
}
 .hydRangeBox .rangeBox {
     width: 50%;
}
 .fatRangeBox .rangeBox {
     width: 20%;
}
 .rangeColor.blue {
     background: #2196F3;
}
 .footer{
    width: 100%;
    padding: 5px 0;
    border-top: 2px solid #c3c2c2;
    border-bottom: 2px solid #c3c2c2;
   
}
.footer .footerElement {
    display: inline-block;
        text-align: center;
}
.footertext {
    display: inline-block;
}
 .footertext p{
     margin:0;
     text-align: center;
     word-break: break-word;;
     font-size:10px;
}
.footerElement.footerContact {
    width: 15%;
}
 .footerElement.footerEmail{
     width: 25%;
}
 .footerElement.footerWebsite{
     width: 25%;
}
 .footerElement.footerAddress{
     width: 30%;
}
 .footerElement img{
     width: 100%;
}
 .footerImg{
        width: 4mm;
    display: inline-block;
    position: relative;
    top: 1mm;
}
/*this has been set by trial error to have 15cm wide grid, DO NOT CHANGE*/
 .ecgsize {
     width: 260mm !important;
     height: 52mm !important;
}
 .stripTest .column3 {
     text-align: left;
     width: 67%;
}
 .stripContainer{
     page-break-after:always;
}
.eyereport .rangeColor{
font-size:14px;
}


.scannedImages{
       position:relative;
       top:30mm;
      width: 210mm;
      margin: 5mm auto;
      page-break-after:always;
}

.scannedImages:last-child {
    page-break-after: avoid;
}


.printUrineData {
    width:30.80%;
    float: left;
    padding: 0 10px;
}
.urineTestReport {
    color: #555 !important;
    background: #ffffff !important;
    margin: 10px 0;
    border: 1px solid #9c9999;
        border-radius: 5px;

    padding: 10px;
}
.printUrineData .testImg {
    width: 25% !important;
    display: inline-block;
    height: 40px;
    padding: 0;
        float: left;

     border-radius: 5px;

}
.printUrineData .urineTestData {

    text-align: center;
    padding: 0 5px;
}
p.testTitle {
    margin: 0;
    font-size: 15px;
    font-weight: 500;
}
p.testData {
    margin: 0;
    font-size: 1em;
    font-weight: bold;
}
.urineRange {
    background: rgb(244, 243, 243) !important;
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    border-radius: 5px;
    font-weight: 500;
    margin-top: 10px;
}

.urineTestReport .pull-left{
float:left;
width: 30%;
text-align: left;
}
.urineTestReport .pull-right{
float:right;
width: 70%;
text-align: right;
}

.basicAvailable{
page-break-before: always;
position:relative;
top:30mm !important;
}