  @page {
        size: A4;
        margin: 0;
    }

    * {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

   body{
     font-family: sans-serif;
     font-style: normal;
}

 .header {
     position: relative;
     width: 100%;
     display: inline-block;
}
.printpage{
   width: 210mm;
   margin: 5mm auto;
   padding-top:10mm;
}
 .printLogo {
     width: 50mm;
     float: left;
}
 img {
     max-width: 100%!important;
}
 .headerDetail {
     margin-bottom: 0;
     background: #f4f3f3 !important;
     color: #777 !important;
     display: inline-block;
     width: 100%;
     padding: 10px 0;
     border-radius: 5px;
     margin-top: 10px;
}

  table{
        width: 100%;
        max-width: 100%;
        border: 1px solid #f4f3f3;
    }
    .table th {
        box-sizing: border-box;
        background: none;
        text-align: left;
        padding: 10px 5px;
        margin: 0;
        border-bottom: 2px solid #f4f3f3;
    }
    td {
        border-bottom: 1px solid #f4f3f3;
        padding: 5px;
        text-transform: capitalize;
    }

    .HeaderTitle {
     position: relative;
     top: 10px;
     text-align: center;
     font-size: 1.5em;
     border-top: 2px solid #9c9999;
     border-bottom: 2px solid #9c9999;
     word-spacing: 10px;
     letter-spacing: 5px;
}
 .HeaderTitle span {
     position: relative;
}