  @page {
        size: A4;
        margin: 0;
    }

    * {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    body{
        font-family: 'Roboto', sans-serif;
        position: relative;
        margin: 0 10mm;
        width: 93%;


    }

    .reportItem p {
        margin: 0;
    }

    .reportItem p {
        margin: 0;
    }


    img{
        width: 100%;
    }
    .grey p {
        display: inline-block;
        width: 100%;
        padding: 5px 0mm;
        background: #e3e3e3;
    }
    .grey p span {
        width: 50%;
        float: left;
        text-align: center;
    }

    .header {
        position: relative;

        width: 100%;
        padding-top: 10mm;

    }
    .reportcontent{
        display: inline-block;
        width: 100%;
        height: 100%;
    }

    /*header*/
    .headerDetail {
        margin-bottom: 15px;
        display: inline-block;
        width: 100%;
        padding: 5px 0;
        background: #f4f3f3;
        border-radius: 5px;
        color: #777;
    }
    .DocPatientDetail {
        padding: 0 10px;
    }

    .detailContainer {
        display: inline-block;
        width: 100%;
        font-size: 14px;

        padding: 3px 0;
    }
    .detailContainer .labelText {
        width: 30%;
        margin: 0;
        float: left;
        font-weight: bold;
    }
    .labelData {
        text-transform: capitalize;
    }

    table{
        width: 100%;
        max-width: 100%;
        border: 1px solid #f4f3f3;
    }
    .table th {
        box-sizing: border-box;
        background: none;
        text-align: left;
        padding: 10px 5px;
        margin: 0;
        border-bottom: 2px solid #f4f3f3;
    }
    td {
        border-bottom: 1px solid #f4f3f3;
        padding: 5px;
        text-transform: capitalize;
    }
    td img {
        width: 8%;
    }

    .report-diagnosis {
        background: rgb(244, 243, 243);
        color: #555;
    }
    .report-diagnosis {
        text-align: left;
        background: rgb(244, 243, 243);
        border-radius: 5px;
        padding: 10px;
        /* color: #fff; */
        margin-top: 10px;
        font-size: 16px;
        color: #777;
    }
    .followup {
        margin-top: 20px;
        font-size: 16px;
    }

    .report-diagnosis .dignoseTitle {
        font-size: 18px;
        font-weight: bold;

    }
    .report-diagnosis p {
        margin-bottom: 5px;
        color: #777;
        margin-top: 0;
    }
    .report-body-vital {
        margin-top: 0px;
        width: 14.28%;
        padding: 2px;
    }
    .reportSummary {
        text-align: left;
        width: 100%;
        display: inline-block;
        background: rgb(232, 232, 232);
        color: #777;
        padding: 5px 0;
        border-radius: 5px;
    }
    .reportIcon {
        position: relative;
        float: left;
        width: 23px;
        /* margin-top: 4px; */
        margin: 5px;
    }
    .reportData {
        text-align: center;
        position: relative;
        width: 61%;
        float: left;
    }
    .reportData .testitle {
        font-size: 13px;
        text-transform: capitalize;
        margin: 0;

    }
    p.testData {
        font-size: 13px;
        margin: 0;
        font-weight: bold;
    }
    .doctorsignature {
        position: relative;
        float:right;
        margin-right:30px;
        margin-top:30px;
        border-radius: 5px;
        display: inline-block;
        width: 6cm;
    }
    .signText{
        color: #000 !important;
    }
    .footer{
        position: relative;
        bottom: 0;
        width: 100%;
        background: #f4f3f3;
        padding: 5px 0;
    }
    .footer p{
        margin: 0;
    }
    .footer .footerElement{
        float: left;
            text-align: center;
            line-height: 30px;
    }
    .footerElement.footerContact{
    width: 20%;
    }
    .footerElement.footerEmail{
    width: 25%;
    }
    .footerElement.footerWebsite{
    width: 25%;
    }
    .footerElement.footerAddress{
        width: 30%;
        line-height: 15px;
    }
    .footerElement img{
    width: 20px;
    height: 20px;
    }
    .footerImg{
        float: left;
        margin: 5px;
    }
    

.scannedImageReport{
    position: relative;
    height: 290mm;
}
.imageItem{
    display: inline-block;
    width: 100%;
    text-align: center;
}
