@page {
    size: A4;
    margin: 0;
}

* {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

.onc_left1 h5 {
    background-color: #ececec !important;
}

span.range {
    background-color: #ECECEC !important;
}

.grey {
    background-color: #ececec !important;
}

.bprange td {
    background-color: #ececec !important;
}

td {
    background-color: #ececec !important;
}

.header {
    padding-top: 2mm;
    padding-bottom: 2mm;
    border-bottom: 1px solid #B9B9B9;
    padding-left: 6mm;
}

html, body {
    width: auto;
    height: auto;
    background-color: white;
    margin-left: 3% !important;
    margin-right: 3% !important;
    margin-top: 10mm !important;
}

footer {
    display: none;
}

.onc_h2 {
    margin-top: -45px;
    margin-bottom: 30px;
}

.onc_outer {

    width: 900px;
    height: 580px;
    background-color: white;
    border-radius: 15px;
    margin: 0 auto;
    padding: 10px 35px 30px;
}

.onc_top {
    width: 900px;
    overflow: auto;
    height: 92px;
    border-bottom: 1px solid #B9B9B9;
    margin-bottom: 30px;

}

.top1 {
    margin-right: 20mm;
    margin-top: 51px;
}

table p {
    margin: 0;
}

.bprange {
    padding-bottom: 5mm;
    clear: both;
    padding-top: 4mm;

}

.bprange table {
    width: 160mm;
    margin: 0;
}

.bprange p {
    font-size: 4mm;
}

.bprange td {
    background-color: #ececec;
}

.top2 {
    margin-left: 20mm;
    float: left;
    width: 180px;
    height: 60px;
    margin-top: 15px;
}

.top2_1 {
    font-size: 22px;
    height: 35px;
    line-height: 37px;
    width: 100%;
}

.top2_2 {
    font-size: 14px;
    height: 25px;
    overflow: auto;
    width: 100%;
}

.top2_2_1 {
    float: left;
    margin-right: 20px;
}

.top2_2_2 {
    float: left;
}

.top3 {
    text-align: center;
    width: 30mm;
    overflow: auto;
    float: left;
    margin-left: 21px;
}

.top3_2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0 7px;
}

.top4 {
    text-align: center;
    width: 30mm;
    overflow: auto;
    float: left;
    margin-left: 77px;
    margin-top: 6px;
}

.top4_1 {
    margin: 0 7px;
}

.top4_2 {
    font-size: 16px;
    font-weight: bold;
}

.top5 {
    text-align: center;
    margin-right: 10mm;
}

.top5_1 {
    font-weight: bold;
    line-height: 26px;
}

.top5_2 {
    font-size: 41px;
    line-height: 50px;
}

.smileytop {
    margin-left: 4mm;
    margin-bottom: 2mm;
}

.smiley {
    float: right;
    margin-right: 5mm;
}

.smileyright {
    height: 6mm !important;
    width: 6mm !important;
    margin-top: 1mm;
    margin-right: 10mm;
    float: right
}

.onc_left {

    border-right: 1px solid #B9B9B9;
    float: left;
    margin-left: 7mm;
}

.onc_left1 {
    height: 300px;
    border-bottom: 1px solid #B9B9B9;
    overflow: auto;
    padding-bottom: 10px;
}

h4.left1 {
    font-size: 17px;
    font-weight: bolder;
    text-align: center;
}

.left1_left {
    float: left;
    width: 225px;
    border-right: 1px solid #B9B9B9;
    padding-right: 20px;
}

.onc_icon {
    margin-top: 4mm;
    height: 66px;
    overflow: auto;
}

.onc_icon > img {
    float: left;
}

.onc_icon1 {
    font-size: 41px;
    line-height: 33px;
}

.onc_icon2 {
    font-weight: bold;
    line-height: 26px;
}

.grey {
    background-color: #ececec;
    font-size: 13px;
    height: 24px;
    margin: 6px;
    padding: 4px 10px;
    border-radius: 2px;
    color: #000;
}

.grey.l1 {
    width: 202px;
}

.grey.l2 {
    width: 202px;
}

.grey.l3 {
    width: 202px;
}

.grey.l4 {
    width: 202px;
}

.left1_right {
    float: left;
    margin-left: -20px;
    margin-top: 7px;
    width: 299px;
}

.left1_right_top {
    float: left;
    width: 330px;
    margin-left: 20px;
    padding-right: 20px;

}

td {
    padding: 5px !important;
    padding-left: 30px !important;
}

.left1_right_top td {
    line-height: 1;
    font-size: 15px;
    background-color: #ececec;

}

.left1_right_top p {
    margin: 0px;
    font-weight: 400;
}

.onc_left1 h5 {
    text-align: center;
    background-color: #ececec;
    margin-top: 0px;
    margin-bottom: 4px;
}

.onc_left1.stats-right {
    display: block;
    padding-left: 10px;
    clear: both;
}

.onc_left2 {
    border-bottom: 1px solid #B9B9B9;
    padding-right: 5mm;
}

.onc_left3 {
    padding-right: 5mm;
}

.onc_right {
    padding-left: 35px;
    width: 50mm;
    height: 443px;
    float: left;
}

.dia_onc_right {
    padding-left: 35px;
    width: 330px;
    height: 423px;
    float: left;
}

.onc_right1 {
    padding-bottom: 16px;
    border-bottom: 1px solid #B9B9B9;
    margin-top: 6px;
}

.onc_right2 {
    border-bottom: 1px solid #B9B9B9;
    padding-bottom: 2mm;
}

h1.right-heading {
    font-size: 16px;
    font-weight: bolder;
    margin: 8px 0px;
}

.bld-pre {
    padding: 0;
    box-sizing: content-box;
}

p.blood-title {
    font-weight: bold;
}

p.blood-number {
    font-size: 35px;
    line-height: 21px;
}

.report-heading.row {
    clear: both;
}

.report-details {
    background-color: #ECECEC;
    margin: 5px 0;
    border-radius: 5px;
    padding: 7px 0;
    color: #000;
}

.report-heading .col-sm-3, .report-details .col-sm-3 {
    padding: 0;
}

.report-heading .col-sm-3 {
    font-weight: bold;
}

.report-details .col-sm-6 {
    font-weight: bold;
}

span.test-score {
    font-size: 20px;
}

span.range {
    background-color: #ECECEC;
    padding: 1px 6px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 800;
    display: block;
}

span.current-range {
    font-weight: 800;
    display: block;
    padding: 1px 6px;
}

.rating-meter span {
    margin: 0px 5px;
    color: #000;
}

.rating-meter img {
    vertical-align: middle;
    height: 8mm;
    width: 8mm;
}

.action-buttons span {
    margin-right: 10px;
}

.action-buttons {
    display: inline-block;
    color: #fff;
    font-size: 24px;
    margin-right: 15px;
    cursor: pointer;
    padding: 12px 40px;
    border-radius: 12px;
    background: -webkit-linear-gradient(#079ADF, #0E72D0);
    background: -o-linear-gradient(#079ADF, #0E72D0);
    background: -moz-linear-gradient(#079ADF, #0E72D0);
    background: linear-gradient(#079ADF, #0E72D0);
}

.control-btn-container {
    text-align: center;
    padding-top: 25px;
}

.action-link-container {
    position: absolute;
    right: 0;
    bottom: 0;
}

a.action-links.home {
    background-color: #0093D6;
}

a.action-links.skip-test {
    background-color: #8CC63E;
}

a.action-links {
    color: #fff;
    padding: 17px 34px;
    margin: 0 -2px;
    cursor: pointer;
}

a.action-links span {
    font-size: 22px;
    vertical-align: bottom;
    margin-right: 4px;
}

.smiley .samll {
    float: right;
    margin-right: 5mm;
}

.smiley .high {

}

.maxbupa td.name div {
    width: 12.5%;
    float: left;
    padding: 10px;
}

.maxbupa td p {
    margin-bottom: 10px;
}

.maxbupa .detail {
    text-align: center;
    padding: 10px 0;
}

.maxbupa .detail div {
    display: inline-block;
    margin: 0 10px;
    font-size: 18px;
}