{% load static %}
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title></title>
      <style>
      </style>
   </head>
   <body>
      <div class="printpage">
         <!-- remove above this its index -->
         <div class="header ">
            <div class="printLogo">
               <img src="{{ reporticons }}partner/logo_{{ partner }}.png">
            </div>
            <div class="dateDiv">
               <span class=""> {{date}}</span>
            </div>
         </div>
         <div class="HeaderTitle">
            <span>Health Package Enrollment Receipt</span>
         </div>

      <div style="margin-top:60px">
          <p style="font-weight:600"> Congratulations! You have been enrolled for below mentioned health package.</p>
      </div>
        <div style="margin-top:60px">
                <div class="row"  style="margin: 0;    font-size: 14px;    width: 100%;">

                        <div >
                            <table class="table" style="margin: 0;">
                                <thead>
                                    <tr>
                                        <th>Member - Package</th>
                                        <th>Validity</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for row in invoicedetailsarray %}
                                        <tr >
                                            <td>{{row.name}}</td>
                                            <td>{{row.validity}}</td>
                                            <td>Rs. {{row.amount}}</td>

                                        </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>



                        <div style="margin-top:100px">
                            <label  style="font-weight: 800">Terms and Conditions :</label>
                            <ul>
                            <li>Payment once done will not be refundable</li>
                            <li>Package cannot be transferred on other person name</li>
                            <li>Package is valid for 1 year only</li>
                            <li>Visit website to know the package offerings</li>
                                </ul>
                        </div>

                </div>


            </div>

      </div>
   </body>
</html>