{% load static %}
<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div class="printpage"  style="    width: 210mm;margin: 5mm auto;">
        <div class="header ">
            <div>
                <h2 style="margin:0%">Dr. {{doctorname}}</h2>
                <p style="margin:0%">{{doctorqualifications}}</p>
                <p style="margin:0%">{{doctorspecialization}}<span style="float:right;">{{datetime}}</span></p>
            </div>
        </div>
        <div class="reportcontent"  style="position: relative;margin-top:20px;">
            <div class="headerDetail">
                <div class="DocPersonDetail">

                    <div class="">
                        <div class="detailContainer">
                            <label class="labelText" style="width: 10%;float: left;">
                                Patient
                            </label>
                            <span class="labelData" style="width: 50%;float: left;">
                           {{username}} ({{personuid}})
                        </span>
                            <label class="labelText" style="width: 10%;float: left; margin-bottom: 0">
                                Age
                            </label>
                            <span class="labelData" style="width: 10%;float: left;">
                                 {{age}}
                             </span>
                             <label class="labelText" style="width: 10%;float: left;">
                                    Gender
                                </label>
                                <span class=" labelData">
                                    {% if gender == "m" %}
                                     Male
                                     {% else %}
                                     Female
                                     {% endif %}
                                 </span>


                        </div>


                    </div>

                </div>

            </div>
            <div class="col-md-12">
                <div class="row"  style="margin: 0;    font-size: 14px;    width: 100%;">
                    {% if prescription %}
                        <div class="report-prescription text-left">
                            <table class="table" style="margin: 0;">
                                <thead>
                                    <tr>
                                        <th>Medicine</th>
                                        <th>Instruction</th>
                                        <th>Frequency</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for row in prescription %}
                                        <tr class="medicineName">
                                            <td>{{row.medicine}}</td>
                                            <td>{{row.instructions}}</td>
                                            <td>
                                                {% if row.morning %}
                                                    <img src="{{reporticons}}success.png">
                                                {% else %}
                                                    <img src="{{reporticons}}error.png">
                                                {% endif %}
                                                  -
                                                {% if row.afternoon %}
                                                    <img src="{{reporticons}}success.png">
                                                {% else %}
                                                    <img src="{{reporticons}}error.png">
                                                {% endif %}
                                            -
                                                {% if row.evening %}
                                                    <img src="{{reporticons}}success.png">
                                                {% else %}
                                                    <img src="{{reporticons}}error.png">
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    {% endif %}

                    {% if investigation|length > 0 %}
                        <div class="report-prescription text-left">
                            <table class="table table-striped" style="margin: 0;  font-size: 14px;    width: 100%;">
                                <thead>
                                    <tr>
                                        <th>Investigation Name</th>
                                        <th>Category</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for row in investigation %}
                                        <tr>
                                            <td class="col-md-6" style="width:50%;word-break: break-all;">{{row.investigationname}}</td>
                                            <td class="col-md-6" style="width:50%;word-break: break-all;">{{row.categoryname}}</td>
                                        </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    {% endif %}

                    {% if clinicalnote %}
                        <div class="report-diagnosis" style="page-break-after: always;">
                            <p class="dignoseTitle">Clinical Notes :</p>
                            <p>{{clinicalnote}}</p>
                        </div>
                    {% endif %}

                    {% if diagnosis %}
                        <div class="report-diagnosis">
                            <p class="dignoseTitle">History & diagnosis :</p>
                            <p>{{diagnosis}}</p>
                        </div>
                    {% endif %}


                    {% if recommendation %}
                        <div class="report-diagnosis" style="page-break-after: always;">
                            <p class="dignoseTitle">Recommendation :</p>
                            <p>{{recommendation}}</p>
                        </div>
                    {% endif %}

                    {% if followupdatetime %}
                        <div class="followup" >
                            <label class="dignoseTitle" style="font-weight: 800">Followup Date :</label>
                            <span>{{followupdatefmt}}</span>
                        </div>
                    {% endif %}
                </div>


            </div>

            <div class="doctorsignature">
                <div class="text-center">
                    {% if signpic %}
                        <img src="{{signpic}}" style="width: 3cm; height: auto;">
                    {% endif %}

                    <p class="signText">Dr. {{doctorname}} <br> ( <span>RegId:{{registrationnum}}</span>)</p>

                </div>
            </div>

        </div>


    </div>

</body>
</html>
