{% extends "waitingqueue_base.html" %}

{% block content %}
  <h1>{{date_today}}</h1>
  <p>Welcome to {{partner}}, we wish you all <em> Happy and Healthy life</em>!</p>
  <h2>Patients</h2>
  <p>Following patients are in queue:</p>
  <ul>
    <li><strong>Total patients:</strong> {{ num_patients }}</li>

  </ul>
<script>
  var endpoint = ''
  var socket = new WebSocket(endpoint)
  socket.onmessage = function(e){
  console.log("message",e}
  }
  socket.onopen= function(e){
  console.log("onopen",e}
  }
  socket.onerror= function(e){
  console.log("onerror",e}
  }
  socket.onclose= function(e){
  console.log("onclose",e}
  }
</script>
{% endblock %}