{% load static %}
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title></title>
      <style>
      </style>
   </head>
   <body>
      <div class="printpage">
         <!-- remove above this its index -->
         <div class="header ">
            <div class=" printLogo">
               <img src="{% static "../../reporticons/partner/logo_" %}{{ partner }}.png">
            </div>
            <div class="dateDiv">
               <span class=""> {{date}}</span>
            </div>
         </div>
         <div class="HeaderTitle">
            <span>Health Report</span>
         </div>
         <div class="reportcontent">
            <div class="headerDetail">
               <div class="DocPatientDetail">
                  <div class="" style="width: 60%;float: left;">
                     <div class="detailContainer">
                        <label class="labelText">Name</label>
                        <span class="labelData ">
                        {{username}}
                        </span>
                     </div>
                       <div class="detailContainer">
                        <label class="labelText">
                            Gender
                        </label>
                        <span class="labelData ">
                         {%  if  gender == 'm'  %} Male {%  endif %}
                        {%  if  gender == 'f'  %} Female {%  endif %}
                        </span>
                    </div>
                     <div class="detailContainer">
                        <label class="labelText">
                        Location
                        </label>
                        <span class="labelData ">
                        {{applocation}}
                        </span>
                     </div>
                  </div>
                  <div class="" style="width: 19%;float: left;">
                     <div class="detailContainer">
                        <label class="labelText" style="
                           width: 50%;">Height</label>
                        <span class="labelData ">
                        {{height}}
                        </span>
                     </div>
                     <div class="detailContainer">
                        <label class="labelText" style="
                           width: 50%;">
                        Weight
                        </label>
                        <span class="labelData ">
                        {{weight|floatformat:2}} Kg
                        </span>
                     </div>
                     <div class="detailContainer">
                        <label class="labelText" style="
                           width: 50%;">
                        Age
                        </label>
                        <span class="labelData ">
                        {{age}} yrs.
                        </span>
                     </div>
                  </div>
<!--                  <div class="userDetailicon">-->
<!--                     <div class="">-->
<!--                        <p class="labelData" style="margin: 0">-->
<!--                           Health Score-->
<!--                        </p>-->
<!--                        <p class="" style="    font-size: 25px;margin: 0">-->
<!--                           {{healthscore|floatformat:2}}-->
<!--                           <img style="    width: 20%;" class="healthScoreImg" src="{{reporticons}}{{healthscoreSmiley}}">-->
<!--                        </p>-->
<!--                     </div>-->
<!--                  </div>-->
               </div>
            </div>
            {%if weightmachine.bmi%}
            <div class="dataTableContainer" >
               <div class="tableHead">
                  <span>BODY STATS</span>
               </div>
               <div class="tableDiv">
                  <div class="dataRow" >
                     <div class="dataCell column1">
                        <strong>
                           <p>BMI</p>
                        </strong>
                     </div>
                     <div class="dataCell column1">
                        <p class="">{{weightmachine.bmi|floatformat:2}} Kg/m<sup>2</sup> </p>
                     </div>
                     <div class="dataCell column2">
                        <p class="">{{weightmachine.bmi_inference}}</p>
                     </div>
                     <div class="dataCell column3">
                        <div class="bmiRangeBox">
                           <div class="rangeBox">
                              <div class="rangeData ">
                                 < {{weightmachine.bmi_range.underweight}}
                              </div>
                              <div class="rangeColor red">
                                 Underweight
                              </div>
                           </div>
                           <div class="rangeBox">
                              <div class="rangeData ">
                                 {{weightmachine.bmi_range.underweight}} - {{weightmachine.bmi_range.normal}}
                              </div>
                              <div class="rangeColor green">
                                 Normal
                              </div>
                           </div>
                           <div class="rangeBox">
                              <div class="rangeData ">
                                 {{weightmachine.bmi_range.normal}} - {{weightmachine.bmi_range.overweight}}
                              </div>
                              <div class="rangeColor orange">
                                 Overweight
                              </div>
                           </div>
                           <div class="rangeBox">
                              <div class="rangeData ">
                                 &gt; {{weightmachine.bmi_range.overweight}}
                              </div>
                              <div class="rangeColor red">
                                 Obese
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  {%if weightmachine.hydration %}
                  <div class="dataRow  ">
                     <div class="dataCell column1">
                        <strong>
                           <p>Hydration</p>
                        </strong>
                     </div>
                     <div class="dataCell column1">
                        <p class="">{{weightmachine.hydration|floatformat:2}}  %</p>
                     </div>
                     <div class="dataCell column2">
                        <p class="">{{weightmachine.hydration_inference}}</p>
                     </div>
                     <div class="dataCell column3">
                        {%if gender != "m" %}
                        <div class="hydRangeBox">
                           <div class="rangeBox"   style="width:33.33%;">
                              <div class="rangeData">
                                 < 45 %
                              </div>
                              <div class="rangeColor red">
                                 Low
                              </div>
                           </div>
                           <div class="rangeBox"   style="width:33.33%;">
                              <div class="rangeData">
                                 45 - 60 %
                              </div>
                              <div class="rangeColor green">
                                 Normal
                              </div>
                           </div>
                           <div class="rangeBox"   style="width:33.33%;">
                              <div class="rangeData">
                                 > 60 %
                              </div>
                              <div class="rangeColor blue">
                                 Good
                              </div>
                           </div>
                        </div>
                        {%endif%}

                        {%if gender == "m"%}
                        <div class="hydRangeBox">
                           <div class="rangeBox"  style="width:33.33%;">
                              <div class="rangeData">
                                 < 50 %
                              </div>
                              <div class="rangeColor red">
                                 Low
                              </div>
                           </div>
                           <div class="rangeBox"  style="width:33.33%;">
                              <div class="rangeData">
                                 50 - 65 %
                              </div>
                              <div class="rangeColor green">
                                 Normal
                              </div>
                           </div>
                           <div class="rangeBox"  style="width:33.33%;">
                              <div class="rangeData">
                                 > 65 %
                              </div>
                              <div class="rangeColor blue">
                                 Good
                              </div>
                           </div>
                        </div>
                        {%endif%}
                     </div>
                  </div>
                  {% endif %}
                  {%if weightmachine.fat %}
                  <div class="dataRow  " >
                     <div class="dataCell column1">
                        <strong>
                           <p>FAT</p>
                        </strong>
                     </div>
                     <div class="dataCell column1">
                        <p class="">{{weightmachine.fat|floatformat:2}} %</p>
                     </div>
                     <div class="dataCell column2">
                        <p class="">{{weightmachine.fat_inference}}</p>
                     </div>
                      {%if isReportForSchool %}
                      <!-- this is for yoloschool_uiandserver -->
                      <div class="dataCell column3">
                          <div class="fatRangeBox">
                              <div class="rangeBox">
                                  <div class="rangeData">
                                      {{weightmachine.fat_range.good}} %
                                  </div>
                                  <div class="rangeColor red">
                                      Underweight
                                  </div>
                              </div>
                              <div class="rangeBox">
                                  <div class="rangeData">
                                      {{weightmachine.fat_range.good}} - {{weightmachine.fat_range.acceptable}} %
                                  </div>
                                  <div class="rangeColor green">
                                      Good
                                  </div>
                              </div>
                              <div class="rangeBox">
                                  <div class="rangeData">
                                      {{weightmachine.fat_range.acceptable}} - {{weightmachine.fat_range.overweight}} %
                                  </div>
                                  <div class="rangeColor orange">
                                      Acceptable
                                  </div>
                              </div>
                              <div class="rangeBox">
                                  <div class="rangeData">
                                      &gt; {{weightmachine.fat_range.overweight}} %
                                  </div>
                                  <div class="rangeColor red">
                                      Obese
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- ./-->
                      {% endif %}
                      {%if isReportForSchool == false %}
                      <!--  this is for yolo_kiosk_uiandserver -->
                      <div class="dataCell column3">
                        <div class="fatRangeBox">
                           <div class="rangeBox">
                              <div class="rangeData">
                                 < {{weightmachine.fat_range.atheletic}} %
                              </div>
                              <div class="rangeColor blue">
                                 Athletic
                              </div>
                           </div>
                           <div class="rangeBox">
                              <div class="rangeData">
                                 {{weightmachine.fat_range.atheletic}} - {{weightmachine.fat_range.good}} %
                              </div>
                              <div class="rangeColor green">
                                 Good
                              </div>
                           </div>
                           <div class="rangeBox">
                              <div class="rangeData">
                                 {{weightmachine.fat_range.good}} - {{weightmachine.fat_range.acceptable}} %
                              </div>
                              <div class="rangeColor orange">
                                 Acceptable
                              </div>
                           </div>
                           <div class="rangeBox">
                              <div class="rangeData">
                                 {{weightmachine.fat_range.acceptable}} - {{weightmachine.fat_range.overweight}} %
                              </div>
                              <div class="rangeColor brown">
                                 Overweight
                              </div>
                           </div>
                           <div class="rangeBox">
                              <div class="rangeData">
                                 &gt; {{weightmachine.fat_range.overweight}} %
                              </div>
                              <div class="rangeColor red">
                                 Obese
                              </div>
                           </div>
                        </div>
                     </div>
                      <!-- ./-->
                      {% endif %}
                  </div>
                  {% endif %}
                  {%if weightmachine.bonemass %}
                  <div class="dataRow " >
                     <div class="dataCell column1">
                        <strong>
                           <p>Bonemass</p>
                        </strong>
                     </div>
                     <div class="dataCell column1">
                        <p class="">{{weightmachine.bonemass|floatformat:2}} %</p>
                     </div>
                     <div class="dataCell column2">
                        <p class="">{{weightmachine.bonemass_inference}}</p>
                     </div>
                      {% if gender == "m" %}
                     <div class="dataCell column3">
                        <div class="hydRangeBox">
                           <div class="rangeBox" style="width:33.33%;">
                              <div class="rangeData">
                                 < 3.4 %
                              </div>
                              <div class="rangeColor red">
                                 Low
                              </div>
                           </div>
                           <div class="rangeBox" style="width:33.33%;">
                              <div class="rangeData">
                                 3.4 % - 5 %
                              </div>
                              <div class="rangeColor green">
                                 Normal
                              </div>
                           </div>
                           <div class="rangeBox" style="width:33.33%;">
                              <div class="rangeData">
                                 > 5 %
                              </div>
                              <div class="rangeColor blue">
                                 Good
                              </div>
                           </div>
                        </div>
                     </div>
                      {% endif %}
                      {% if gender == 'f' %}
                     <div class="dataCell column3">
                          <div class="hydRangeBox">
                              <div class="rangeBox" style="width:33.33%;">
                                  <div class="rangeData">
                                      < 3.6 %
                                  </div>
                                  <div class="rangeColor red">
                                      Low
                                  </div>
                              </div>
                              <div class="rangeBox" style="width:33.33%;">
                                  <div class="rangeData">
                                      3.6 % - 4.8 %
                                  </div>
                                  <div class="rangeColor green">
                                      Normal
                                  </div>
                              </div>
                              <div class="rangeBox" style="width:33.33%;">
                                  <div class="rangeData">
                                      > 4.8 %
                                  </div>
                                  <div class="rangeColor blue">
                                      Good
                                  </div>
                              </div>
                          </div>
                      </div>
                      {% endif %}
                  </div>
                  {% endif %}
                  {%if weightmachine.muscle %}
                  <div class="dataRow  ">
                     <div class="dataCell column1">
                        <strong>
                           <p>Muscle</p>
                        </strong>
                     </div>
                     <div class="dataCell column1">
                        <p class="">{{weightmachine.muscle|floatformat:2}} %</p>
                     </div>
                     <div class="dataCell column2">
                        <p class="">{{weightmachine.muscle_inference}}</p>
                     </div>
                     <div class="dataCell column3">
                        <div class="hydRangeBox">
                           <div class="rangeBox" style="width:33.33%;">
                              <div class="rangeData">
                                  < {{weightmachine.muscle_range.low}} %
                              </div>
                              <div class="rangeColor red">
                                 Low
                              </div>
                           </div>
                           <div class="rangeBox" style="width:33.33%;">
                              <div class="rangeData">
                                  {{weightmachine.muscle_range.low}} - {{weightmachine.muscle_range.normal}} %
                              </div>
                              <div class="rangeColor green">
                                 Normal
                              </div>
                           </div>
                           <div class="rangeBox" style="width:33.33%;">
                              <div class="rangeData">
                                  > {{weightmachine.muscle_range.normal}} %
                              </div>
                              <div class="rangeColor blue">
                                 Good
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  {% endif %}

                  <!-- New Params-->
                  <!-- New Params-->
                  {%if weightmachine.vfat %}
                  <!-- Visceral Fat-->
                  <div class="dataRow ">
                     <div class="dataCell column1">
                        <strong>
                           <p>Visceral Fat</p>
                        </strong>
                     </div>
                     <div class="dataCell column1">
                        <p>{{weightmachine.vfat}} %</p>
                     </div>
                     <div class="dataCell column2">
                        <p>{{weightmachine.vfat_inference}}</p>
                     </div>
                     <div class="dataCell column3">
                        <div class="hydRangeBox">
                           <div class="rangeBox" style="width:50%;">
                              <div class="rangeData">
                                 1 - 12.5 %
                              </div>
                              <div class="rangeColor green">
                                 Good
                              </div>
                           </div>
                           <div class="rangeBox" style="width:50%;">
                              <div class="rangeData">
                                 13 - 59 %
                              </div>
                              <div class="rangeColor red">
                                 High
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- ./Visceral Fat-->
                  {% endif %}
                 {% if weightmachine.sfat %}
                        <!-- Visceral Fat-->
                        <div class="dataRow ">
                            <div class="dataCell column1">
                                <strong>
                                    <p>Subcutaneous Fat</p>
                                </strong>
                            </div>
                            <div class="dataCell column1">
                                <p>{{ weightmachine.sfat }} %</p>
                            </div>
                            <div class="dataCell column2">
                                <p>{{ weightmachine.sfat_inference }}</p>
                            </div>
                            <div class="dataCell column3">
                                {% if gender == "m" %}
                                    <div class="hydRangeBox">
                                        <div class="rangeBox" style="width:33.33%;">
                                            <div class="rangeData">
                                                < 8.6 %
                                            </div>
                                            <div class="rangeColor blue">
                                                Low
                                            </div>
                                        </div>
                                        <div class="rangeBox" style="width:33.33%;">
                                            <div class="rangeData">
                                                8.6 - 16.7 %
                                            </div>
                                            <div class="rangeColor green">
                                                Normal
                                            </div>
                                        </div>
                                        <div class="rangeBox" style="width:33.33%;">
                                            <div class="rangeData">
                                                > 16.7 %
                                            </div>
                                            <div class="rangeColor green">
                                                High
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if gender == "m" %}
                                    <div class="hydRangeBox">
                                        <div class="rangeBox" style="width:33.33%;">
                                            <div class="rangeData">
                                                < 18.5 %
                                            </div>
                                            <div class="rangeColor blue">
                                                Low
                                            </div>
                                        </div>
                                        <div class="rangeBox" style="width:33.33%;">
                                            <div class="rangeData">
                                                18.5 - 26.7 %
                                            </div>
                                            <div class="rangeColor green">
                                                Normal
                                            </div>
                                        </div>
                                        <div class="rangeBox" style="width:33.33%;">
                                            <div class="rangeData">
                                                > 26.7 %
                                            </div>
                                            <div class="rangeColor green">
                                                High
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <!-- ./Visceral Fat-->
                    {% endif %}

                  {%if weightmachine.bage %}
                  <!-- .Metabolic Age-->
                  <div class="dataRow ">
                     <div class="dataCell column1">
                        <strong>
                           <p>Metabolic age</p>
                        </strong>
                     </div>
                     <div class="dataCell column1">
                        <p>{{weightmachine.bage}}</p>
                     </div>
                     <div class="dataCell column2">
                        <p>{{weightmachine.bage_inference}}</p>
                     </div>
                     <div class="dataCell column3">
                        <div class="hydRangeBox">
                           <div class="rangeBox" style="width:50%;">
                              <div class="rangeData">
                                 < {{age}}
                              </div>
                              <div class="rangeColor green">
                                 Good
                              </div>
                           </div>
                           <div class="rangeBox" style="width:50%;">
                              <div class="rangeData">
                                 > {{age}}
                              </div>
                              <div class="rangeColor red">
                                 High
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- ./Metabolic Age-->
                  {% endif %}

                  {%if weightmachine.muscle_quality_score %}
                  <!-- .Muscle Quality Score-->
                  <div class="dataRow ">
                     <div class="dataCell column1">
                        <strong>
                           <p>Muscle Quality Score</p>
                        </strong>
                     </div>
                     <div class="dataCell column1">
                        <p>{{weightmachine.muscle_quality_score}}</p>
                     </div>
                     <div class="dataCell column2">
                        <p>{{weightmachine.muscle_quality_inference}}</p>
                     </div>
                     <div class="dataCell column3">
                        {%if gender != "m" %}
                        <div class="hydRangeBox">
                           <div class="rangeBox" style="width:33.33%;">
                              <div class="rangeData">
                                 < {{weightmachine.muscle_quality_range.low}}
                              </div>
                              <div class="rangeColor red">
                                 Low
                              </div>
                           </div>
                           <div class="rangeBox" style="width:33.33%;">
                              <div class="rangeData">
                                 {{weightmachine.muscle_quality_range.low}} - {{weightmachine.muscle_quality_range.normal}}
                              </div>
                              <div class="rangeColor green">
                                 Normal
                              </div>
                           </div>
                           <div class="rangeBox" style="width:33.33%;">
                              <div class="rangeData">
                                 > {{weightmachine.muscle_quality_range.normal}}
                              </div>
                              <div class="rangeColor red">
                                 High
                              </div>
                           </div>
                        </div>
                        {% endif %}
                        {%if gender == "m" %}
                        <div class="hydRangeBox">
                           <div class="rangeBox" style="width:33.33%;">
                              <div class="rangeData">
                                 < {{weightmachine.muscle_quality_range.low}}
                              </div>
                              <div class="rangeColor red">
                                 Low
                              </div>
                           </div>
                           <div class="rangeBox" style="width:33.33%;">
                              <div class="rangeData">
                                 {{weightmachine.muscle_quality_range.low}} - {{weightmachine.muscle_quality_range.normal}}
                              </div>
                              <div class="rangeColor green">
                                 Normal
                              </div>
                           </div>
                           <div class="rangeBox" style="width:33.33%;">
                              <div class="rangeData">
                                 > {{weightmachine.muscle_quality_range.normal}}
                              </div>
                              <div class="rangeColor red">
                                 High
                              </div>
                           </div>
                        </div>
                        {% endif %}
                     </div>
                  </div>
                  <!-- ./Muscle Quality Score-->
                  {% endif %}

<!--                  {%if weightmachine.phy_rating %}-->
<!--                  &lt;!&ndash; .Physique Rating&ndash;&gt;-->
<!--                  <div class="dataRow ">-->
<!--                     <div class="dataCell column1">-->
<!--                        <strong>-->
<!--                           <p>Physique Rating</p>-->
<!--                        </strong>-->
<!--                     </div>-->
<!--                     <div class="dataCell column1">-->
<!--                        <p>{{weightmachine.phy_rating}}</p>-->
<!--                     </div>-->
<!--                     <div class="dataCell column2">-->
<!--                        <p>{{weightmachine.phy_rating_inference}}</p>-->
<!--                     </div>-->
<!--                     <div class="dataCell column3">-->
<!--                        {{weightmachine.phy_rating_explanation}}-->
<!--                     </div>-->
<!--                  </div>-->
<!--                  &lt;!&ndash; ./Physique Rating&ndash;&gt;-->
<!--                  {% endif %}-->

                  {%if weightmachine.kcal %}
                  <!-- .Basal Metabolic Rating-->
                  <div class="dataRow ">
                     <div class="dataCell column1" >
                        <strong>
                           <p>Metabolic Rating</p>
                        </strong>
                     </div>
                     <div class="dataCell column1">
                        <p>{{weightmachine.kcal|floatformat:1}} kcal</p>
                     </div>
                     <div class="dataCell column2">
                        <p>{{weightmachine.bmr_inference}}</p>
                     </div>
                     <div class="dataCell column3">
                        {%if weightmachine.bmr_inference == "Good" %}
                        <p>Standad basal metabolic rating for a person of your height , weight and age is {{weightmachine.ideal_bmr|floatformat:1}}</p>
                        {% endif %}
                        {%if weightmachine.bmr_inference == "Low" %}
                        <p>You should increase your calorie intake to {{weightmachine.ideal_bmr|floatformat:1}} with light exercise.</p>
                        {% endif %}
                     </div>
                  </div>
                  <!-- .Basal Metabolic Rating-->
                  {% endif %}
                  <!-- /.New Params-->
                  <!-- /.New Params-->

               </div>
            </div>
            {% endif %}

            {%if bpmachine.systolic and  bpmachine.diastolic%}
            <div class="dataTableContainer" >
               <div class="tableHead">
                  <span>BLOOD PRESSURE</span>
               </div>
               <div class="tableDiv">
                  {%if bpmachine.systolic %}
                  <div class="dataRow greyrow">
                     <div class="dataCell column1">
                        <strong>
                           <p>Systolic</p>
                        </strong>
                     </div>
                     <div class="dataCell column1">
                        <p class="">{{bpmachine.systolic}}  mmhg</p>
                     </div>
                     <div class="dataCell column2">
                        <p class="">{{bpmachine.systolic_inference}}</p>
                     </div>
                     <div class="dataCell column3">
                        <div class="bmiRangeBox">
                           <div class="rangeBox">
                              <div class="rangeData ">
                                 < {{bpmachine.systolic_range.low}}
                              </div>
                              <div class="rangeColor red">
                                 Low
                              </div>
                           </div>
                           <div class="rangeBox">
                              <div class="rangeData ">
                                 {{bpmachine.systolic_range.low}} - {{bpmachine.systolic_range.normal}}
                              </div>
                              <div class="rangeColor green">
                                 Normal
                              </div>
                           </div>
                           <div class="rangeBox">
                              <div class="rangeData ">
                                 {{bpmachine.systolic_range.normal}} - {{bpmachine.systolic_range.prehyper}}
                              </div>
                              <div class="rangeColor orange">
                                 Pre-Hyper
                              </div>
                           </div>
                           <div class="rangeBox">
                              <div class="rangeData ">
                                 > {{bpmachine.systolic_range.prehyper}}
                              </div>
                              <div class="rangeColor red">
                                 High
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  {% endif %}
                  {% if bpmachine.diastolic %}
                  <div class="dataRow whiterow">
                     <div class="dataCell column1">
                        <strong>
                           <p>Diastolic</p>
                        </strong>
                     </div>
                     <div class="dataCell column1">
                        <p class="">{{bpmachine.diastolic}}  mmhg  </p>
                     </div>
                     <div class="dataCell column2">
                        <p class="">{{bpmachine.diastolic_inference}}</p>
                     </div>
                     <div class="dataCell column3">
                        <div class="bmiRangeBox">
                           <div class="rangeBox">
                              <div class="rangeData ">
                                 < {{bpmachine.diastolic_range.low}}
                              </div>
                              <div class="rangeColor red">
                                 Low
                              </div>
                           </div>
                           <div class="rangeBox">
                              <div class="rangeData ">
                                 {{bpmachine.diastolic_range.low}} - {{bpmachine.diastolic_range.normal}}
                              </div>
                              <div class="rangeColor green">
                                 Normal
                              </div>
                           </div>
                           <div class="rangeBox">
                              <div class="rangeData ">
                                 {{bpmachine.diastolic_range.normal}} - {{bpmachine.diastolic_range.prehyper}}
                              </div>
                              <div class="rangeColor orange">
                                 Pre-Hyper
                              </div>
                           </div>
                           <div class="rangeBox">
                              <div class="rangeData ">
                                 > {{bpmachine.diastolic_range.prehyper}}
                              </div>
                              <div class="rangeColor red">
                                 High
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  {% endif %}
               </div>
            </div>
            {% endif %}
            {%if temperaturemachine.temperature %}
            <div class="dataTableContainer" >
               <div class="tableHead">
                  <span>temperature</span>
               </div>
               <div class="tableDiv">
                  <div class="dataRow greyrow">
                     <div class="dataCell column1">
                        <strong>
                           <p>Temperature</p>
                        </strong>
                     </div>
                     <div class="dataCell column1">
                        <p class="">{{temperaturemachine.temperature|floatformat:1}}&#8457({{temperaturemachine.temperatureincelsius|floatformat:1}}&#8451)</p>
                     </div>
                     <div class="dataCell column2">
                        <p class="">{{temperaturemachine.temperature_inference}}</p>
                     </div>
                     <div class="dataCell column3">
                        <div class="hydRangeBox">
                           <div class="rangeBox">
                              <div class="rangeData">
                                 93 - 99 ℉ (33 - 37℃)
                              </div>
                              <div class="rangeColor green">
                                 Normal
                              </div>
                           </div>
                           <div class="rangeBox">
                              <div class="rangeData">
                                 &gt; 99 ℉ ( 37℃)
                              </div>
                              <div class="rangeColor red">
                                 High
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            {% endif %}
            {%if oximetermachine.pulse and oximetermachine.oxygensat %}
            <div class="dataTableContainer" >
               <div class="tableHead">
                  <span>Pulse</span>
               </div>
               <div class="tableDiv">
                  {% if oximetermachine.pulse %}
                  <div class="dataRow">
                     <div class="dataCell column1">
                        <strong>
                           <p>Pulse</p>
                        </strong>
                     </div>
                     <div class="dataCell column1">
                        <p class="">{{oximetermachine.pulse}} bpm</p>
                     </div>
                     <div class="dataCell column2">
                        <p class="">{{oximetermachine.pulse_inference}}</p>
                     </div>
                     <div class="dataCell column3">
                        <div class="bmiRangeBox">
                           <div class="rangeBox" style="width: 33%">
                              <div class="rangeData ">
                                 < {{oximetermachine.pulse_range.low}}
                              </div>
                              <div class="rangeColor red">
                                 Low
                              </div>
                           </div>
                           <div class="rangeBox" style="width: 33%">
                              <div class="rangeData ">
                                 {{oximetermachine.pulse_range.low}} - {{oximetermachine.pulse_range.normal}}
                              </div>
                              <div class="rangeColor green">
                                 Normal
                              </div>
                           </div>
                           <div class="rangeBox" style="width: 33%">
                              <div class="rangeData ">
                                 > {{oximetermachine.pulse_range.normal}}
                              </div>
                              <div class="rangeColor red">
                                 High
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  {% endif %}
                  {% if oximetermachine.oxygensat  %}
                  <div class="dataRow" >
                     <div class="dataCell column1">
                        <strong>
                           <p>Oxygen Sat</p>
                        </strong>
                     </div>
                     <div class="dataCell column1">
                        <p class="">{{oximetermachine.oxygensat}}%</p>
                     </div>
                     <div class="dataCell column2">
                        <p class="">{{oximetermachine.oxygensat_inference}}</p>
                     </div>
                     <div class="dataCell column3">
                        <div class="hydRangeBox">
                           <div class="rangeBox" style="width:33.33%;">
                              <div class="rangeData">
                                 &lt; 90 %
                              </div>
                              <div class="rangeColor red">
                                 Low
                              </div>
                           </div>
                           <div class="rangeBox" style="width:33.33%;">
                              <div class="rangeData">
                                 90 - 100 %
                              </div>
                              <div class="rangeColor green">
                                 Normal
                              </div>
                           </div>
                           <div class="rangeBox" style="width:33.33%;">
                              <div class="rangeData">
                                 > 100 %
                              </div>
                              <div class="rangeColor blue">
                                 Good
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  {% endif %}
               </div>
            </div>
            {% endif %}
            {% if bloodglucosemachine.glucose_level %}
            <div class="dataTableContainer">
                <div class="tableHead">
                    <span>Blood Glucose</span>
                </div>
                <div class="tableDiv">
                    <div class="dataRow greyrow">
                        <div class="dataCell column1">
                            <strong>
                                <p class="">{{ bloodglucosemachine.testtype }}</p>
                            </strong>
                        </div>
                        <div class="dataCell column1">
                            <p class="">{{ bloodglucosemachine.glucose_level }} mg/dL </p>
                        </div>
                        <div class="dataCell column2">
                            <p class="">{{ bloodglucosemachine.bg_inference }}</p>
                        </div>
                        <div class="dataCell column3">
                            <div class="bmiRangeBox">
                                <div class="rangeBox">
                                    <div class="rangeData ">
                                        < {{ bloodglucosemachine.bg_range.low }}
                                    </div>
                                    <div class="rangeColor red">
                                        Low
                                    </div>
                                </div>
                                <div class="rangeBox">
                                    <div class="rangeData ">
                                        {{ bloodglucosemachine.bg_range.low }}
                                        - {{ bloodglucosemachine.bg_range.normal }}
                                    </div>
                                    <div class="rangeColor green">
                                        Normal
                                    </div>
                                </div>
                                <div class="rangeBox">
                                    <div class="rangeData ">
                                        {{ bloodglucosemachine.bg_range.normal }} -
                                        {{ bloodglucosemachine.bg_range.prediabetic }}
                                    </div>
                                    <div class="rangeColor orange">
                                        Pre-Diabetic
                                    </div>
                                </div>
                                <div class="rangeBox">
                                    <div class="rangeData ">
                                        > {{ bloodglucosemachine.bg_range.prediabetic }}
                                    </div>
                                    <div class="rangeColor red">
                                        High
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endif %}
            {% if hemoglobinmachine.hb %}
            <div class="dataTableContainer">
                <div class="tableHead">
                    <span>Hemoglobin</span>
                </div>
                <div class="tableDiv">
                    <div class="dataRow ">
                        <div class="dataCell column1">
                            <strong>
                                <p>Hemoglobin</p>
                            </strong>
                        </div>
                        <div class="dataCell column1">
                            <p>{{ hemoglobinmachine.hb|floatformat:1 }} g/dl</p>
                        </div>
                        <div class="dataCell column2">
                            <p>{{ hemoglobinmachine.hb_inference }}</p>
                        </div>
                        <div class="dataCell column3">
                            <div class="hydRangeBox">
                                <div class="rangeBox" style="width:33.33%;">
                                    <div class="rangeData">
                                        < {{ hemoglobinmachine.hb_range.low }}
                                    </div>
                                    <div class="rangeColor red">
                                        Low
                                    </div>
                                </div>
                                <div class="rangeBox" style="width:33.33%;">
                                    <div class="rangeData">
                                        {{ hemoglobinmachine.hb_range.low }} - {{ hemoglobinmachine.hb_range.normal }}
                                    </div>
                                    <div class="rangeColor green">
                                        Normal
                                    </div>
                                </div>
                                <div class="rangeBox" style="width:33.33%;">
                                    <div class="rangeData">
                                        > {{ hemoglobinmachine.hb_range.normal }}
                                    </div>
                                    <div class="rangeColor red">
                                        High
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        {% endif %}
            {% if lipidmachine.tc %}
        <div class="dataTableContainer" id="lipid">
            <div class="tableHead">
                <span>Lipid Profile</span>
            </div>
            <div class="tableDiv">
                <div class="dataRow ">
                    <div class="dataCell column1">
                        <strong>
                            <p>Total CH</p>
                        </strong>
                    </div>
                    <div class="dataCell column1">
                        <p>{{ lipidmachine.tc }} mg/dL </p>
                    </div>
                    <div class="dataCell column2">
                        <p>{{ lipidmachine.tc_inference }}</p>
                    </div>
                    <div class="dataCell column3">
                        <div class="bmiRangeBox">
                            <div class="rangeBox" style="width: 33%">
                                <div class="rangeData">
                                    < 200
                                </div>
                                <div class="rangeColor blue">
                                    Optimal
                                </div>
                            </div>
                            <div class="rangeBox" style="width: 33%">
                                <div class="rangeData">
                                    200 - 240
                                </div>
                                <div class="rangeColor green">
                                    Near Optimal
                                </div>
                            </div>
                            <div class="rangeBox" style="width: 33%">
                                <div class="rangeData">
                                    > 240
                                </div>
                                <div class="rangeColor red">
                                    High
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dataRow ">
                    <div class="dataCell column1">
                        <strong>
                            <p>HDL</p>
                        </strong>
                    </div>
                    <div class="dataCell column1">
                        <p>{{ lipidmachine.hdl }}   </p>
                    </div>
                    <div class="dataCell column2">
                        <p>{{ lipidmachine.hdl_inference }}</p>
                    </div>
                    <div class="dataCell column3">
                        <div class="bmiRangeBox">
                            <div class="rangeBox" style="width: 33%">
                                <div class="rangeData">
                                    > 59
                                </div>
                                <div class="rangeColor blue">
                                    Optimal
                                </div>
                            </div>
                            <div class="rangeBox" style="width: 33%">
                                <div class="rangeData">
                                    40 - 59
                                </div>
                                <div class="rangeColor green">
                                    Near Optimal
                                </div>
                            </div>
                            <div class="rangeBox" style="width: 33%">
                                <div class="rangeData">
                                    < 40
                                </div>
                                <div class="rangeColor red">
                                    High
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dataRow ">
                    <div class="dataCell column1">
                        <strong>
                            <p>LDL</p>
                        </strong>
                    </div>
                    <div class="dataCell column1">
                        <p>{{ lipidmachine.ldl }}   </p>
                    </div>
                    <div class="dataCell column2">
                        <p>{{ lipidmachine.ldl_inference }}</p>
                    </div>
                    <div class="dataCell column3">
                        <div class="bmiRangeBox">
                            <div class="rangeBox">
                                <div class="rangeData">
                                    < 100
                                </div>
                                <div class="rangeColor blue">
                                    Optimal
                                </div>
                            </div>
                            <div class="rangeBox">
                                <div class="rangeData">
                                    100 - 159
                                </div>
                                <div class="rangeColor green">
                                    Near Optimal
                                </div>
                            </div>
                            <div class="rangeBox">
                                <div class="rangeData">
                                    160 - 189
                                </div>
                                <div class="rangeColor orange">
                                    High
                                </div>
                            </div>
                            <div class="rangeBox">
                                <div class="rangeData">
                                    > 190
                                </div>
                                <div class="rangeColor red">
                                    Very High
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dataRow ">
                    <div class="dataCell column1">
                        <strong>
                            <p>Triglyceride </p>
                        </strong>
                    </div>
                    <div class="dataCell column1">
                        <p>{{ lipidmachine.tg }}   </p>
                    </div>
                    <div class="dataCell column2">
                        <p>{{ lipidmachine.tg_inference }}</p>
                    </div>
                    <div class="dataCell column3">
                        <div class="bmiRangeBox">
                            <div class="rangeBox">
                                <div class="rangeData">
                                    < 149
                                </div>
                                <div class="rangeColor blue">
                                    Optimal
                                </div>
                            </div>
                            <div class="rangeBox">
                                <div class="rangeData">
                                    150 - 199
                                </div>
                                <div class="rangeColor green">
                                    Near Optimal
                                </div>
                            </div>
                            <div class="rangeBox">
                                <div class="rangeData">
                                    200 - 499
                                </div>
                                <div class="rangeColor orange">
                                    High
                                </div>
                            </div>
                            <div class="rangeBox">
                                <div class="rangeData">
                                    > 500
                                </div>
                                <div class="rangeColor red">
                                    Very High
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
     {%if fvc %}
        <div class="dataTableContainer">
            <div class="tableHead">
                <span>SPIROMETRY </span>
            </div>
            <div class="tableDiv">
                {% if fvc %}
                    <div class="dataRow">
                        <div class="dataCell column1">
                            <strong>
                                <p>FVC</p>
                            </strong>
                        </div>
                        <div class="dataCell column1">
                            <p class="">{{ fvc }} L </p>
                        </div>
                        <div class="dataCell column2">
                            <p class="">{{ fvcInference }}</p>
                        </div>
                        <div class="dataCell column3">
                            <div class="bmiRangeBox">
                                <div class="rangeBox">
                                    <div class="rangeData ">
                                        < {{ fvcrange.acceptable }}
                                    </div>
                                    <div class="rangeColor red">
                                        Low
                                    </div>
                                </div>
                                <div class="rangeBox">
                                    <div class="rangeData ">
                                        {{ fvcrange.acceptable }} - {{ fvcrange.normal }}
                                    </div>
                                    <div class="rangeColor green">
                                        Acceptable
                                    </div>
                                </div>
                                <div class="rangeBox">
                                    <div class="rangeData ">
                                        {{ fvcrange.normal }} - {{ fvcrange.good }}
                                    </div>
                                    <div class="rangeColor orange">
                                        Normal
                                    </div>
                                </div>
                                <div class="rangeBox">
                                    <div class="rangeData ">
                                        &gt; {{ fvcrange.good }}
                                    </div>
                                    <div class="rangeColor blue">
                                        Good
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if fev1 %}
                    <div class="dataRow  ">
                        <div class="dataCell column1">
                            <strong>
                                <p>FEV1</p>
                            </strong>
                        </div>
                        <div class="dataCell column1">
                            <p class="">{{ fev1 }} L</p>
                        </div>
                        <div class="dataCell column2">
                            <p class="">{{ fev1Inference }}</p>
                        </div>
                        <div class="dataCell column3">
                            <div class="bmiRangeBox">
                                <div class="rangeBox">
                                    <div class="rangeData ">
                                        < {{ fev1range.acceptable }}
                                    </div>
                                    <div class="rangeColor red">
                                        Low
                                    </div>
                                </div>
                                <div class="rangeBox">
                                    <div class="rangeData ">
                                        {{ fev1range.acceptable }} - {{ fev1range.normal }}
                                    </div>
                                    <div class="rangeColor green">
                                        Acceptable
                                    </div>
                                </div>
                                <div class="rangeBox">
                                    <div class="rangeData ">
                                        {{ fev1range.normal }} - {{ fev1range.good }}
                                    </div>
                                    <div class="rangeColor orange">
                                        Normal
                                    </div>
                                </div>
                                <div class="rangeBox">
                                    <div class="rangeData ">
                                        &gt; {{ fev1range.good }}
                                    </div>
                                    <div class="rangeColor blue">
                                        Good
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if pef %}
                    <div class="dataRow  ">
                        <div class="dataCell column1">
                            <strong>
                                <p>PEF</p>
                            </strong>
                        </div>
                        <div class="dataCell column1">
                            <p class="">{{ pef }} L</p>
                        </div>
                        <div class="dataCell column2">
                            <p class="">{{ pefInference }}</p>
                        </div>
                        <div class="dataCell column3">
                            <div class="bmiRangeBox">
                                <div class="rangeBox">
                                    <div class="rangeData ">
                                        < {{ pefrange.acceptable }}
                                    </div>
                                    <div class="rangeColor red">
                                        Low
                                    </div>
                                </div>
                                <div class="rangeBox">
                                    <div class="rangeData ">
                                        {{ pefrange.acceptable }} - {{ pefrange.normal }}
                                    </div>
                                    <div class="rangeColor green">
                                        Acceptable
                                    </div>
                                </div>
                                <div class="rangeBox">
                                    <div class="rangeData ">
                                        {{ pefrange.normal }} - {{ pefrange.good }}
                                    </div>
                                    <div class="rangeColor orange">
                                        Normal
                                    </div>
                                </div>
                                <div class="rangeBox">
                                    <div class="rangeData ">
                                        &gt; {{ pefrange.good }}
                                    </div>
                                    <div class="rangeColor blue">
                                        Good
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if fev1per %}
                    <div class="dataRow  ">
                        <div class="dataCell column1">
                            <strong>
                                <p>FEV1PER</p>
                            </strong>
                        </div>
                        <div class="dataCell column1">
                            <p class="">{{ fev1per }} L</p>
                        </div>
                        <div class="dataCell column2">
                            <p class="">{{ fev1perInference }}</p>
                        </div>
                        <div class="dataCell column3">
                            <div class="bmiRangeBox">
                                <div class="rangeBox">
                                    <div class="rangeData ">
                                        < {{ fev1perrange.acceptable }}
                                    </div>
                                    <div class="rangeColor red">
                                        Low
                                    </div>
                                </div>
                                <div class="rangeBox">
                                    <div class="rangeData ">
                                        {{ fev1perrange.acceptable }} - {{ fev1perrange.normal }}
                                    </div>
                                    <div class="rangeColor green">
                                        Acceptable
                                    </div>
                                </div>
                                <div class="rangeBox">
                                    <div class="rangeData ">
                                        {{ fev1perrange.normal }} - {{ fev1perrange.good }}
                                    </div>
                                    <div class="rangeColor orange">
                                        Normal
                                    </div>
                                </div>
                                <div class="rangeBox">
                                    <div class="rangeData ">
                                        &gt; {{ fev1perrange.good }}
                                    </div>
                                    <div class="rangeColor blue">
                                        Good
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if fef25 %}
                    <div class="dataRow  ">
                        <div class="dataCell column1">
                            <strong>
                                <p>FEF25</p>
                            </strong>
                        </div>
                        <div class="dataCell column1">
                            <p class="">{{ fef25 }} L</p>
                        </div>
                        <div class="dataCell column2">
                            <p class="">{{ fef25Inference }}</p>
                        </div>
                        <div class="dataCell column3">
                            <div class="bmiRangeBox">
                                <div class="rangeBox">
                                    <div class="rangeData ">
                                        < {{ fef25range.acceptable }}
                                    </div>
                                    <div class="rangeColor red">
                                        Low
                                    </div>
                                </div>
                                <div class="rangeBox">
                                    <div class="rangeData ">
                                        {{ fef25range.acceptable }} - {{ fef25range.normal }}
                                    </div>
                                    <div class="rangeColor green">
                                        Acceptable
                                    </div>
                                </div>
                                <div class="rangeBox">
                                    <div class="rangeData ">
                                        {{ fef25range.normal }} - {{ fef25range.good }}
                                    </div>
                                    <div class="rangeColor orange">
                                        Normal
                                    </div>
                                </div>
                                <div class="rangeBox">
                                    <div class="rangeData ">
                                        &gt; {{ fef25range.good }}
                                    </div>
                                    <div class="rangeColor blue">
                                        Good
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if fef75 %}
                    <div class="dataRow  ">
                        <div class="dataCell column1">
                            <strong>
                                <p>FEF75</p>
                            </strong>
                        </div>
                        <div class="dataCell column1">
                            <p class="">{{ fef75 }} L</p>
                        </div>
                        <div class="dataCell column2">
                            <p class="">{{ fef75Inference }}</p>
                        </div>
                        <div class="dataCell column3">
                            <div class="bmiRangeBox">
                                <div class="rangeBox">
                                    <div class="rangeData ">
                                        < {{ fef75range.acceptable }}
                                    </div>
                                    <div class="rangeColor red">
                                        Low
                                    </div>
                                </div>
                                <div class="rangeBox">
                                    <div class="rangeData ">
                                        {{ fef75range.acceptable }} - {{ fef75range.normal }}
                                    </div>
                                    <div class="rangeColor green">
                                        Acceptable
                                    </div>
                                </div>
                                <div class="rangeBox">
                                    <div class="rangeData ">
                                        {{ fef75range.normal }} - {{ fef75range.good }}
                                    </div>
                                    <div class="rangeColor orange">
                                        Normal
                                    </div>
                                </div>
                                <div class="rangeBox">
                                    <div class="rangeData ">
                                        &gt; {{ fef75range.good }}
                                    </div>
                                    <div class="rangeColor blue">
                                        Good
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if fef2575 %}
                    <div class="dataRow  ">
                        <div class="dataCell column1">
                            <strong>
                                <p>FEF2575</p>
                            </strong>
                        </div>
                        <div class="dataCell column1">
                            <p class="">{{ fef2575 }} L</p>
                        </div>
                        <div class="dataCell column2">
                            <p class="">{{ fef2575Inference }}</p>
                        </div>
                        <div class="dataCell column3">
                            <div class="bmiRangeBox">
                                <div class="rangeBox">
                                    <div class="rangeData ">
                                        < {{ fef2575range.acceptable }}
                                    </div>
                                    <div class="rangeColor red">
                                        Low
                                    </div>
                                </div>
                                <div class="rangeBox">
                                    <div class="rangeData ">
                                        {{ fef2575range.acceptable }} - {{ fef2575range.normal }}
                                    </div>
                                    <div class="rangeColor green">
                                        Acceptable
                                    </div>
                                </div>
                                <div class="rangeBox">
                                    <div class="rangeData ">
                                        {{ fef2575range.normal }} - {{ fef2575range.good }}
                                    </div>
                                    <div class="rangeColor orange">
                                        Normal
                                    </div>
                                </div>
                                <div class="rangeBox">
                                    <div class="rangeData ">
                                        &gt; {{ fef2575range.good }}
                                    </div>
                                    <div class="rangeColor blue">
                                        Good
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}





</div>
</div>
    {% endif %}
            {%if recommendations %}
            <!-- .recommendations-->
            <div class="dataTableContainer" style="margin-top: 65mm;page-break-inside: avoid;">
               <div class="tableHead">
                  <span>Recommendations</span>
               </div>
               <div class="tableDiv">
                  <div class="dataRow">
                     <div class="dataCell">
                        <ol class="recommendation_list clearfix" style="padding-left: 15px;">
                            {% for recommendationFor, recommendation in recommendations.items %}
                                {%if recommendation != undefined or recommendation.length > 0  %}
                                   <li class="col-md-12" style="margin-bottom: 10px;list-style-type:none;">
                                      <p style="border-bottom: 1px solid;text-transform:capitalize;width:auto;display: inline-block;">{{recommendationFor}} - </p>
                                      <ul class="col-md-12" style="padding-left: 45px;">
                                          {% for recommendation in recommendation %}
                                            <li>{{recommendation}}</li>
                                          {% endfor %}
                                      </ul>
                                   </li>
                                {% endif %}
                            {% endfor %}
                        </ol>
                     </div>
                  </div>
               </div>
            </div>
            <!-- /.recommendations-->
            {% endif %}

            {% if ecgmachine.ecg_img %}
            <div style="text-align: center;page-break-before: always;clear: both;">
                <img src="{{ ecgmachine.ecg_img }}" style=" position: relative;
                /* previous value in all - rotate(90deg) scale(1.61,1.75) */
                margin-top: 127mm;
                -webkit-transform: rotate(90deg) scale(1.61,1.75);
                -moz-transform: rotate(90deg) scale(1.61,1.75);
                -o-transform: rotate(90deg) scale(1.61,1.75);
                -ms-transform: rotate(90deg) scale(1.61,1.75);
                transform: rotate(90deg) scale(1.61,1.75) ;">
            </div>
            {% endif %}
         </div>
      </div>
   </body>
</html>