{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Browser Error</title>
</head>
<body>
<br>
<br>
<br>
<div style="text-align:center">
<h1 style="color:red">Please open the url in Google-Chrome/Firefox browser</h1>
<br>
<h1 style="color:red">कृपया गूगल क्रोम/फ़ायरफ़ॉक्स ब्राउज़र में लिंक खोलें </h1>
    <br>
     <img src='{% static "icons/google-chrome-icon.png" %}' alt="Chrome Icon">
</div>

</body>
</html>